<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (Popper.js included) and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/money.png') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">

    <title>EDUFIN | DASHBOARD</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon.ico" />
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class="bx bxs-smile"></i>
            <span class="text">EDUFIN</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{{ url_for('dashboard')}}">
                    <i class="bx bxs-dashboard"></i>
                    <span class="text">Tableau de board</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ url_for('show_courses')}}">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Listes de cours</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('show_calculateur')}}">
                    <i class='bx bx-calculator'></i>
                    <span class="text">Calculateur</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="bx bxs-message-dots"></i>
                    <span class="text">Notifications</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-spreadsheet'></i>
                    <span class="text">Suivre un cours</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{{ url_for('logout')}}">
                    <i class="bx bxs-cog"></i>
                    <span class="text">Paramètre</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Déconnexion</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Rechercher..." />
                    <button type="submit" class="search-btn">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </form>
            <a href="#" class="notification">
                <i class="bx bxs-bell"></i>
                <span class="num">0</span>
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="left">
                <h1 style="color: #252b42;">Listes de cours</h1>
              </div>
              <h3 style="color: #fd7238;">Cours que suivez déjà.</h3>
            <ul class="box-info">
                <li>
                    <i class='bx bxs-book-content' ></i>
                    <span class="text">
                        <p>Gestion du budget</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-group"></i>
                    <span class="text">
                        <p>Dettes efficace</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-dollar-circle"></i>
                    <span class="text">
                        <p>Qu'est ce que l'investissement ?</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
            </ul>

            <h3 style="color: #3c91e6;">Ces cours peuvent aussi vous intéresser...</h3>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-book-content' ></i>
                    <span class="text">
                        <p>Gestion du budget</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-group"></i>
                    <span class="text">
                        <p>Dettes efficace</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-dollar-circle"></i>
                    <span class="text">
                        <p>Qu'est ce que l'investissement ?</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
            </ul>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-book-content' ></i>
                    <span class="text">
                        <p>Gestion du budget</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-group"></i>
                    <span class="text">
                        <p>Dettes efficace</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-dollar-circle"></i>
                    <span class="text">
                        <p>Qu'est ce que l'investissement ?</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
            </ul>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-book-content' ></i>
                    <span class="text">
                        <p>Gestion du budget</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-group"></i>
                    <span class="text">
                        <p>Dettes efficace</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-dollar-circle"></i>
                    <span class="text">
                        <p>Qu'est ce que l'investissement ?</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
            </ul>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-book-content' ></i>
                    <span class="text">
                        <p>Gestion du budget</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-group"></i>
                    <span class="text">
                        <p>Dettes efficace</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
                <li>
                    <i class="bx bxs-dollar-circle"></i>
                    <span class="text">
                        <p>Qu'est ce que l'investissement ?</p>
                    </span>
                    <i class='bx bx-plus' style="margin-left: 6rem; width: 50px; height: 50px;"></i>
                </li>
            </ul>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <!-- footer -->
    <div class="pied">
        <p style="font-family: 'Salsa', cursive;">&#169; 2023 EDUFIN. Tous droits réservés</p>
    </div>
    <!-- End of footer -->

    <script src="{{ url_for('static', filename='js/dash.js')}}"></script>
</body>

</html>