<div class="form-container">
    <div class="content-one">
        <div class="content-one-one">

            <form class="form">

                <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>first name</span>
                    </label>

                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>last name</span>
                    </label>
                </div>

                <label>
                    <input required="" placeholder="" type="email" class="input">
                    <span>email</span>
                </label>

                <label>
                    <input required="" type="tel" placeholder="" class="input">
                    <span>contact number</span>
                </label>
                <label>
                    <textarea required="" rows="3" placeholder="" class="input01"></textarea>
                    <span>message</span>
                </label>
        </div>
        <div class="content-one-two">

        </div>
    </div>
    <div class="content-two">
        <button class="cssbuttons-io-button"> Get started
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
            </div>
          </button>
    </form>

    </div>
</div>