<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== ICONES BOX ==========-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/money.png') }}" />
    <title>EDUFIN | ACCUEIL</title>
</head>

<body>
    <!--========== HAUT DE PAGE ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
    </a>

    <!--========== EN-TÊTE ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <h2 class="logo"><span class="logo-blanc">EDU</span><span class="logo-bleu">FIN</span></h2>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active-link">Accueil</a></li>
                    <li class="nav__item"><a href="#share" class="nav__link">À propos</a></li>
                    <li class="nav__item"><a href="#decoration" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="#accessory" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="{{ url_for('show_login')}}" class="nav__link"><button >Comptes</button></a></li>

                    <li><i id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--========== ACCUEIL ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__img">
                    <img src="{{url_for('static', filename='img/revenue-bro.svg')}}" alt="">
                </div>

                <div class="home__data">
                    <h1 class="home__title">Un avenir financier stable.</h1>
                    <p class="home__description">L'éducation financière est un pilier essentiel de la vie moderne, car elle équipe les individus des
                        compétences et des connaissances nécessaires pour gérer leur argent de manière responsable.</p>
                    <a href="#" class="button">Commencer</a>
                </div>
            </div>
        </section>

        <!--========== A propos ==========-->
        <section class="share section bd-container" id="share">
            <div class="share__container bd-grid">
                <div class="share__data">
                    <h2 class="section-title-center">À propos</h2>
                    <p class="share__description">Nous sommes spécialisée dans le calcul d'épargne et nous sommes un partenaire
                de confiance pour tous ceux
                qui cherchent à planifier leur avenir financier avec sagesse. Grâce à notre expertise et nos outils
                de calcul avancés, nous vous offrons des solutions personnalisées pour vous aidez à atteindre
                vos objectifs d'épargne. Que ce soit pour constituer un fonds d'urgence, épargner pour un projet
                spécifique ou préparer sa retraite, nous mettons votre à disposition un calculateur.</p>
                    <a href="#" class="button">Joindre</a>
                </div>

                <div class="share__img">
                    <img src="{{url_for('static', filename='img/about.svg')}}" alt="">
                </div>
            </div>
        </section>

        <!--========== Réalisations ==========-->
        <section class="decoration section bd-container" id="decoration">
            <h2 class="section-title">Nos réalisations et services</h2>
            <div class="decoration__container bd-grid">
                <div class="decoration__data">
                    <img src="{{ url_for('static', filename='img/users.png')}}" alt="" class="decoration__img">
                    <h3 class="decoration__title">1000+</h3>
                    <a href="#" class="button button-link">Nombres utilisateurs</a>
                </div>

                <div class="decoration__data">
                    <img src="{{ url_for('static', filename='img/new-project.png')}}" alt="" class="decoration__img">
                    <h3 class="decoration__title">100+</h3>
                    <a href="#" class="button button-link">Nombres projets financés</a>
                </div>

                <div class="decoration__data">
                    <img src="{{ url_for('static', filename='img/calculator.png')}}" alt="" class="decoration__img">
                    <h3 class="decoration__title">35+</h3>
                    <a href="#" class="button button-link">Nombres de calcul</a>
                </div>
            </div>
        </section>

        <!--========== Services ==========-->
        <section class="accessory section bd-container" id="accessory">
            <h2 class="section-title">Nos services</h2>

            <div class="accessory__container bd-grid">
                <div class="accessory__content">
                    <img src="{{ url_for('static', filename='img/arrow.png')}}" alt="" class="accessory__img">
                    <h3 class="accessory__title">Listes de nos services</h3>
                </div>

                <div class="accessory__content">
                    <img src="{{ url_for('static', filename='img/profit.png')}}" alt="" class="accessory__img">
                    <h3 class="accessory__title">Calculateur</h3>
                    <span class="accessory__category">d'éparge</span>
                    <span class="accessory__preci">Cliquez sur plus</span>
                    <a href="#" class="button accessory__button"><i class='bx bx-plus'></i></a>
                </div>

                <div class="accessory__content">
                    <img src="{{ url_for('static', filename='img/learning.png')}}" alt="" class="accessory__img">
                    <h3 class="accessory__title">Education</h3>
                    <span class="accessory__category">Financière</span>
                    <span class="accessory__preci">Cliquez sur plus</span>
                    <a href="#" class="button accessory__button"><i class='bx bx-plus'></i></a>
                </div>
            </div>
        </section>

        <!--========== SEND GIFT ==========-->
        <section class="send section">
            <div class="send__container bd-container bd-grid">
                <div class="send__content">
                    <h2 class="section-title-center send__title">S'inscrire à notre NewsLetter</h2>
                    <p class="send__description">pour obtenir notre meilleure promotion en premier.</p>
                    <form action="">
                        <div class="send__direction">
                            <input type="text" placeholder="Adresse Email" class="send__input">
                            <a href="#" class="button">Envoyer</a>
                        </div>
                    </form>
                </div>

                <div class="send__img">
                    <img src="{{ url_for('static', filename='img/email1.png')}}" alt="">
                </div>
            </div>
        </section>
    </main>

    <!--========== FOOTER ==========-->
    <footer class="footer section">
        <div class="footer__container bd-container bd-grid">
            <div class="footer__content">
                <h3 class="footer__title">
                    <a href="#" class="footer__logo">EDUFIN</a>
                </h3>
                <p class="footer__description">J'ai appris un peu plus de la finance et aujourd'hui je gagne.</p>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Nos Services</h3>
                <ul>
                    <li><a href="#decoration" class="footer__link">Education</a></li>
                    <li><a href="#decoration" class="footer__link">Calculateur</a></li>
                </ul>
            </div>

            <!-- <div class="footer__content">
                <h3 class="footer__title">Notre Entreprise</h3>
                <ul>
                    <li><a href="#" class="footer__link">Blog</a></li>
                    <li><a href="#" class="footer__link">À propos de nous</a></li>
                    <li><a href="#" class="footer__link">Notre mission</a></li>
                </ul>
            </div> -->

            <div class="footer__content">
                <h3 class="footer__title">Réseaux Sociaux</h3>
                <a href="#" class="footer__social"><i class='bx bxl-facebook-circle '></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>

        <p class="footer__copy">&#169; 2023 EDUFIN. Tous droits réservés</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>
