<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/money.png') }}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>EDUFIN | ACCUEIL</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <h2 class="logo"><span class="logo-blanc">EDU</span><span class="logo-bleu">FIN</span></h2>
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
            </label>
            <ul class="links">
                <li><a href="#accueil" class="active">Accueil</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="buttons">
                <a href="{{url_for('show_login')}}" class="signin">Connexion</a>
                <a href="{{url_for('show_signup')}}" class="signup">Inscription</a>
            </div>
        </nav>
    </header>

    <div id="accueil">

    </div>

    <section class="hero-section">
        <div class="hero">
            <h2>La clé d'un avenir financier
                Stable commence ici...</h2>
            <p>
                L'éducation financière est un pilier essentiel de la vie moderne, car elle équipe les individus des
                compétences et des connaissances nécessaires pour gérer leur argent de manière responsable.
            </p>
            <div class="buttons">
                <a href="#" class="join">En savoir plus</a>
            </div>
        </div>
        <div class="img">
            <img src="{{url_for('static', filename='img/Revenue-bro.svg')}}" alt="hero image" />
        </div>
    </section>

    <div id="about"></div>

    <section class="about-section">
        <div class="img">
            <img src="{{url_for('static', filename='img/about.svg')}}" alt="hero image" />
        </div>
        <div class="about">
            <h2>À propos</h2>
            <p>
                Nous sommes spécialisée dans le calcul d'épargne et nous sommes un partenaire
                de confiance pour tous ceux
                qui cherchent à planifier leur avenir financier avec sagesse. Grâce à notre expertise et nos outils
                de calcul avancés, nous vous offrons des solutions personnalisées pour vous aidez à atteindre
                vos objectifs d'épargne. Que ce soit pour constituer un fonds d'urgence, épargner pour un projet
                spécifique ou préparer sa retraite, nous mettons votre à disposition un calculateur
                d'épargne.<br>
                Avec nous recevez : <br>
            <div id="list-about">
                <img src="{{url_for('static', filename='img/valide.png')}}" width="30px" height="30px" alt="">
                <p>Une bonne éducation fianacière</p>
            </div>

            <div id="list-about">
                <img src="{{url_for('static', filename='img/valide.png')}}" width="30px" height="30px" alt="">
                <p>Un calculateur d'épargne en ligne</p>
            </div>

            <div id="list-about">
                <img src="{{url_for('static', filename='img/valide.png')}}" width="30px" height="30px" alt="">
                <p>Un bon suivie des experts</p>
            </div>
            </p>
            <div class="buttons">
                <a href="#" class="join">Commencer</a>
            </div>
        </div>
    </section>

    

    <section class="services1-section">
        <div class="services1">
            <div class="image">
                <img src="{{url_for('static', filename='img/nbr1.png')}}" style="filter: invert();" width="100px"
                    height="100px" alt="">
                <h1>1000+</h1>
                <p>Nombres utilisateurs</p>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='img/nbr2.png')}}" style="filter: invert();" width="100px"
                    height="100px" alt="">
                <h1>100+</h1>
                <p>Nombres projets financés</p>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='img/nbr3.png')}}" style="filter: invert();" width="100px"
                    height="100px" alt="">
                <h1>35+</h1>
                <p>Nombres de calcul</p>
            </div>

        </div>

        <div id="services"></div>
    </section>

    <div class="services-title">
        <div>
            <h1>
                Services
            </h1>
        </div>
    </div>
    <div class="container-services">
        <div class="services-content1">
            <img src="{{url_for('static', filename='img/Apprendre.png')}}" width="500px" height="100px" alt="">
            <a href=""><button>Commencer</button></a>
        </div>
        <div class="services-content2">
            <img src="{{url_for('static', filename='img/calcul.png')}}" width="500px" height="100px" alt="">
            <a href=""><button>Commencer</button></a>
        </div>
    </div>


    <div id="contact"></div>

    <div class="contact-title">
        <div class="con-title">
            <h1>Contactez-nous</h1>
        </div>
    </div>
    <div class="container-cont">
        <div class="img-contact">
            <img src="{{ url_for('static', filename='img/Contact1.png')}}" height="500rem" width="400rem"
                class="img-cont" alt="">
        </div>
        <div class="contact-form">
            <div class="card">
                <span class="title">Laisser un commentaire</span>
                <form class="form">
                    <div class="group">
                        <input placeholder="‎" type="text" required="">
                        <label for="name">Votre Nom</label>
                    </div>
                    <div class="group">
                        <input placeholder="‎" type="email" id="email" name="email" required="">
                        <label for="email">Votre Prenom</label>
                    </div>
                    <div class="group">
                        <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
                        <label for="comment">Votre Message</label>
                    </div>
                    <button type="submit">Envoyer</button>
                </form>
            </div>


        </div>


    </div>


    <!-- Debut footer -->
    <footer>
        <div class="container-footer">
            <div class="footer-logo">
                <a href="{{url_for('index')}}">
                    <span class="logo-blanc">EDU</span><span class="logo-bleu">FIN</span>
                </a>
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="{{url_for('index')}}" class="active">Accueil</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">À propos</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="https://www.facebook.com/"><img
                                src="{{ url_for('static', filename='img/facebook.png')}}" width="20px" height="20px"
                                alt="" /></a></li>
                    <li><a href="https://www.instagram.com/"><img
                                src="{{ url_for('static', filename='img/instagram.png')}}" width="20px" height="20px"
                                alt="" /></a></li>
                    <li><a href="https://www.twitter.com/"><img src="{{ url_for('static', filename='img/twitter.png')}}"
                                width="20px" height="20px" alt="" /></a></li>
                </ul>
            </div>
        </div>

        <!-- Fin footer -->
</body>

</html>