<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/money.png') }}">
    <title>EDUFIN | CONNEXION</title>
</head>

<body>

    <div class="main-container">
        <div class="content1">
            <form action="/login" class="form" method="POST">
                <p class="form-title">Connectez-vous</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="input-container">
                    <input type="email" name="email" placeholder="Entrez votre adresse e-mail" required>
                    <span>
                    </span>
                </div>
                <div class="input-container">
                    <input type="password" name="mdp" placeholder="Entrez votre mot de passe" required>
                </div>
                <button type="submit" class="submit">
                    Se connecter
                </button>

                <p class="signup-link">
                    Pas de compte ?
                    <a href="{{url_for('show_signup')}}">Inscrivez-vous</a>
                </p>
            </form>

            <div class="retour">
                <a href="{{ url_for('index') }}">Retour à l'accueil</a>
            </div>


        </div>
        <div class="content2">
            <img src="{{url_for('static', filename='img/login.svg')}}" alt="">
        </div>
    </div>

</body>

</html>